<% if flash[:success] %>
  <p><%= flash[:success] %></p>
<% end %>

<h1>Hello, <%= @user.first_name %></h1>

<% @user.contacts.each do |contact| %>
 <li><%= contact.first_name %> | <%= link_to "Send Birthday Test", contact_sms_path(@user, contact) %>
 </li>

<% end %>