.jumbotron1 {
  padding: 60px;
  margin:60px 30px 30px 10px;
  color: inherit;
  background-image:url('balloons.com-726198.jpg');
  background-size: 100%;
}

.hello, .hello_text {
  font-family: 'verdana';
  color: grey;
}




/*!important;*/