.jumbotron1 {
  padding: 60px;
  margin:80px 50px 30px 50px;
  color: inherit;
  background-image:url('balloons.com-726198.jpg');
  background-size: 100%;
}

.hello, .hello_text {
  font-family: 'verdana';
  color: grey;
}




/*!important;*/